.w3-sidebar {
    background-color: #c0abc4;
    border-color: black;
    font-weight: bolder;
}

#searchbar {
    margin: 10px;
    
}

#dropdown {
    height:29.00px;
    margin-left: 9px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

#NEW {
    margin-left: 9px;
    background-color:#c6c0c7;
}