.w3-sidebar {
    background-color: #c0abc4;
    font-weight: bolder;
}

.w3-bar-block .w3-bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
    padding-left: 82px;
    padding-right: 82px;
}

#searchbar {
    margin: 10px;
    
}

#dropdown {
    height:29.00px;
    margin-left: 9px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

#NEW {
    margin-left: 9px;
    background-color:#c6c0c7;
}