.w3-sidebar {
    background-color: #c6c0c7;
}

#searchbar {
    margin: 10px;
}

#dropdown {
    height:22.500px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
}
