body {
    background: rgb(250, 233, 233);
}
/*tiffany's boba shop*/
#logo {
    border: 1px solid #ddd;
     /* Gray border */
    border-radius: 4px;
    /* Rounded border */
    padding: 1px;
    /* Some padding */
    width: 150px;
     /* Set a small width */
}
/*color of logo text*/
#logotext {
    color: rgb(250, 233, 233);
    padding: 15px 15px 15px 0px;
}
input[type=checkbox], input[type=radio] {
    margin-left: 10px;
}

.text-right {
    text-align: right;
    object-fit: contain;
    max-height: 120px;
}

h3 {
     margin-top: 10px;
     margin-bottom: 360px;
}

p {
    margin: 0 0 10px;
    text-align: left;
    position: relative;
    top: -155px;
}

div.delivery {
    position: relative;
}

.table>tbody>tr>td {
    vertical-align: middle;
}

.btn-default {
    margin-top: 5px;
    margin-left: 11px;
}

input[type=button].btn-block {
    padding: 8px;
    margin: 5px;
    font-size: large;
    width: 17%;
    float: right;
}

    /* Add a hover effect (black shadow) */
img:hover {
    box-shadow: 0 0 5px 1px black;
}

/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
.footer {
    background-color: #f2f2f2;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

.center {
    text-align: center;
}
.container {
    padding: 15px;
    box-shadow: 0 1px 15px 1px rgba(52, 40, 104, .08);
    background-color: rgb(248, 245, 240);
}

.ui-w-40 {
    width: 40px;
    height: auto;
}

.ui-product-color {
    display: inline-block;
    overflow: hidden;
    margin: .144em;
    width: .875rem;
    height: .875rem;
    border-radius: 10rem;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
    vertical-align: middle;
}