body {
        text-align: center;
        background: rgb(248, 239, 239);
}
 /*tiffany's boba shop*/
#logo {
        border: 1px solid #ddd;
         /* Gray border */
        border-radius: 4px;
        /* Rounded border */
        padding: 1px;
        /* Some padding */
        width: 150px;
         /* Set a small width */
}
/*color of logo text*/
.navbar-inverse .navbar-nav>li>a.home {
        color: #f9e8e8;
        /*padding: 15px 15px 15px 0px;
        font-weight: 100;*/
}

h3 {
         margin-top: 10px;
         margin-bottom: 360px;
}

        /* Add a hover effect (black shadow) */
img:hover {
        box-shadow: 0 0 5px 1px black;
}

        /* Remove the navbar's default rounded borders and increase the bottom margin */ 
.navbar {
        margin-bottom: 50px;
        border-radius: 0;
}
     
  /* Add a gray background color and some padding to the footer */
  .footer {
        background-color: #f2f2f2;
        text-align: center;
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
    }