body {
  background: rgb(250, 233, 233);
}
/* for logo text on left part of header*/
#logotext {
        color: rgb(250, 233, 233);
        padding: 15px 15px 15px 0px;
}
/* Add a hover effect (blue shadow) */
img:hover {
    box-shadow: 0 0 5px 1px black;
}

/* Remove the navbar's default rounded borders and increase the bottom margin */ 
.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}
 
  /* Add a gray background color and some padding to the footer */
  .footer {
    background-color: #f2f2f2;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}
  /*Invoice*/
  .container {
    position: relative;
    left: 164px
  }
  .table-row {
    margin-left:-15px;
    margin-right:-15px;
    margin-top:25px;
  }

  .table-row .table>thead {
    border-top:1px solid #ddd;
  }
  
   .table-row .table>thead>tr>th {
    border-bottom:none;
  }
  
   .table>tbody>tr>td {
    padding:8px 20px;
  }
  
   .invoice-total {
    margin-right:-10px;
    font-size:16px;
  }
  
   .last-row {
    border-bottom:1px solid #ddd;
  }
  .text-left {
    text-align: left;
    position: relative;
    right: 590;
    bottom: 127;
  }
  .center {
    text-align: center;
  }
