/* General */  
h1, h2 {
    text-align: center;
}

/* Typography */  

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
/* block styling */  
body{
    width: 800px; 
    margin: 0 auto;
    background-image: url(images/phone_globe.jpg) no-repeat 50% center;
    
   
}
/* Form styling */  
div {
    border: 5px solid black;
display: flex;
}
/* Styling the products display */ 
img {
    width: 200px;
    height: 200px;
}
