h1, h2 {
    font-family: 'Oswald', sans;
}

body {
    font-family: 'Open Sans', sans;
    color: darkblue;
    margin: 10px 50px 10px 50px;
    width: 950px;
    background-color: ivory; 
}

img {
    float: left;
    margin-right: 10px;
}
ul {
    list-style-type: none;
    margin: 0px
    padding: 0px;
}
li {
    display: inline;
}
#navbar a {
    margin-left:50px;
    margin-right: 50px;
}

.left {
    float: left;
    width: 300px;
    padding: 1em;
}
.right {
    float:right;
    width: 300px;
    padding: 1em;
}
.center {
    margin-left: 300px;
    margin-right:300px;
    padding: 1em;
}